[submodule "skl"]
	path = skl
	url = https://github.com/al8n/skl.git
[submodule "aol"]
	path = aol
	url = https://github.com/al8n/aol.git
[submodule "orderwal"]
	path = orderwal
	url = https://github.com/al8n/orderwal.git
[submodule "rarena"]
	path = rarena
	url = https://github.com/al8n/rarena.git
[submodule "valog"]
	path = valog
	url = https://github.com/al8n/valog.git
[submodule "dtlog"]
	path = dtlog
	url = https://github.com/al8n/dtlog.git
